<div class="navbar">
    <ul>
      <li>
        <span>
        <img src="../assets/img/hplogo.png" id="logo"
      routerLink = "/home"></span></li>
      <li><a routerLink = "/job/index" routerLinkActive = "active">Jobs</a></li>
      <li><a routerLink = "/personality/index" routerLinkActive = "active">Personality Test</a></li>
      <li><a routerLink = "/about" routerLinkActive = "active">About</a></li>
      <li><a routerLink = "/contact" routerLinkActive = "active">Contact</a></li>
      <div style="float: right">
        <div *ngIf="!isLoggedIn" class="login-btn">
          <li><a routerLink = "/login" routerLinkActive = "active">Login</a></li>
          <li><a routerLink = "/registration" routerLinkActive = "active">Register</a></li>   
        </div>
        <div *ngIf="isLoggedIn" class="logout-btn">
          <li><a id="logout" mat-stroked-button (click)="onLogout()">Logout</a></li>
        </div>
      </div>
    </ul>
</div>
