<h1>Are you sure you want to delete your test?</h1>

<hr>

<div *ngIf="personality">
  <div>
    <label for="">Personality Id</label>
    <span>{{personality.PersonalityEntityId}}</span>
  </div>
  <div>
    <label for="">Personality Number</label>
    <span>{{personality.PersonalityNumber}}</span>
  </div>
  <div>
    <label for="">Personality Type</label>
    <span>{{personality.PersonalityType}}</span>
  </div>
</div>

<button mat-raised-button class="back" routerLink="/personality/details/id">Back To Details</button>
<button mat-raised-button class="nav-btn" (click)="onDelete(personality.personalityEntityId)" value="{{personality.personalityEntityId">Delete</button>

<hr>