<h1>Post a Job</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="jobForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="Name" type="Name" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Company" formControlName="Company" type="Company" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <input matInput placeholder="Description" formControlName="Desc" type="Desc" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Compensation" formControlName="Compensation" type="Compensation" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Hours" formControlName="Hours" type="Hours" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Desired Personality" formControlName="DesiredPersonality" type="DesiredPersonality" required>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Job</button>
</form>
<a mat-button routerLink="/job">Back to Listings</a>