<h1>Personality</h1>
<hr>
​
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="personalityForm">
  <div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I enjoy design.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I like Solving Problems.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I See the big picture.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I don't miss the little things.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I enjoy being the leader.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I like working in a team.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I enjoy conversation.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I am technically minded.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I relate to others.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I can work independently.
      </mat-slider>
    </div>
    <div>
      <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1">
        I learn quickly.
      </mat-slider>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Personality</button>
</form>
​
<a mat-button routerLink="/personality">Back to List</a>
