<!-- 
<h1>Index</h1>
<a routerLink="/job/create" mat-raised-button color="primary">Create New</a>
<hr>


    <mat-card *ngFor="let job of Jobs" [job] = "job">
        <mat-card-title>{{ job.name}}</mat-card-title>
        <mat-card-subtitle>At: {{ job.company }}</mat-card-subtitle>
        <mat-card-content>Description: {{ job.compensation }}</mat-card-content>
        <mat-card-content>Hours: {{ job.hours }}</mat-card-content>
        <mat-card-content>Description: {{ job.desc }}</mat-card-content>
    </mat-card>
                 
  -->
         
