<h1>Contact</h1>

<hr>

<h3>Email us:</h3>

<div class="formSpreeEmail">
    <form action="https://formspree.io/hirepersonalityofficial@gmail.com" method="POST">
        <div class="emailBox">
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="textBox">
                <textarea name="message" placeholder="Text Message"></textarea>
        </div>
        <button type="submit">Send</button>
    </form>
</div>

<h3>Phone:</h3>

<h4>1-888-4-VAULT-TEC</h4>

<h3>PO Box:</h3>

<h4>424242 Imaganiation Ln.</h4>

<h3>Zip:</h3>

<h4>GREEN</h4>
<hr>
