<h1>Index</h1>
<a  mat-raised-button color="primary">Create New</a>
<hr>
<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames"></mat-row>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matCoulumnSize"></mat-header-cell>
      <mat-cell *MatCellDef="let job" routerLink="/job/detail/{{job.EntityId}}"> 
        <i class="material-icons">library_books</i>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="EntityId">
      <mat-header-cell *matHeaderCellDef>Job #</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.EntityId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef>Job Name</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.Name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Company">
      <mat-header-cell *matHeaderCellDef>Compnay Name</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.Company}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Desc">
      <mat-header-cell *matHeaderCellDef>Job Description</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.Desc}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Compensation">
      <mat-header-cell *matHeaderCellDef>Compensation for Job</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.Compensation}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Hours">
      <mat-header-cell *matHeaderCellDef>Hours/Week</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.Hours}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DesiredPersonality">
      <mat-header-cell *matHeaderCellDef>Desired Personality from Test</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.DesiredPersonality}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="OwnerId">
      <mat-header-cell *matHeaderCellDef>Owner #</mat-header-cell>
      <mat-cell *MatCellDef="let job"> {{job.OwnerId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *MatCellDef="let job">
        <i mat-icon class="material-icons" routerLink="job/job-update/{{job.EntityId}}">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>