<h1>Index</h1>
<a routerLink="/job/create"mat-raised-button color="primary">Create New</a>
<hr>

<div>
  <ng-container>
      <mat-card-title>{{job.name}}</mat-card-title>
      <mat-card-subtitle>{{job.company}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.desc}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.compensation}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.hours}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.desiredPersonality}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.ownerId}}</mat-card-subtitle>
      <mat-card-actions>
          <i mat-icon class="material-icons" routerLink="job/id/{{job.EntityId}}">edit</i>
          <i class="material-icons" routerLink="job/id/{{job.EntityId}}">delete</i>
      </mat-card-actions>
  </ng-container>
</div>