<div class="navbar">
    <ul>
        <li><a href="app/app.component.html">Home</a></li>
        <li><a href="job/job.component.component">Jobs</a></li>
        <li><a href="persontest/persontest.component.html">Personality Test</a></li>
        <li><a href="login/login.component.html">Login</a></li>
        <li><a href="registration/registration.component.html">Register</a></li>
    </ul>
</div>
<section>
    <router-outlet></router-outlet>
</section>


<app-login style="text-align: center"></app-login>

<app-registration style="text-align:center"></app-registration>

<app-home></app-home>

