@import "https://fonts.googleapis.com/css?family=Bungee";
/*Body*/
body {
    background-color: darkgray;
}
/*Navbar*/
.nav_navbar-nav{
    float: left;
    list-style: none;
    margin: 0px;  
    width: 100%;  
    height: 140px;
}

.navbar{
    background-color: black;
    background-size: cover;
}

.home {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Antu_hp_logo.svg/2000px-Antu_hp_logo.svg.png);
}

ul{
    color: White;
    text-align: left;
}

li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}

a:link {
    color: white;
    text-decoration: none;
    font-family: 'Bungee', cursive;
}
  
a:visited{
    color: rgb(200, 5, 5);
    text-decoration: none;
    font-family: 'Bungee', cursive;
}
  
a:hover{
    color: white;
    text-decoration: none;
    font-family: 'Bungee', cursive;
}
  
a:active{
    color: darkgrey;
    text-decoration: none;
    font-family: 'Bungee', cursive;
}

/*Header*/
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

/*Main*/

/*Footer*/
footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center
}