<h1>Edit a Job.</h1>
<hr>

<div *ngIf="job">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="updateJobForm">
    <div>
      <div hidden>
        <mat-form-field>
          <input matInput placeholder="EntityId" formControlName="EntityId" type="EntityId" required [value]="job.JobEntityId" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="Name" type="Name" required [value]="job.Name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Company" formControlName="Company" type="Company" required [value]="job.Company" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Desc" formControlName="Desc" type="Desc" required [value]="job.Desc" />
        </mat-form-field>
      </div> 
      <div>
        <mat-form-field>
          <input matInput placeholder="Compensation" formControlName="Compensation" type="Compensation" required [value]="job.Compensation" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Hours" formControlName="Hours" type="Hours" required [value]="job.Hours" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="DesiredPersonality" formControlName="DesiredPersonality" type="DesiredPersonality" required [value]="job.DesiredPersonality" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="OwnerId" formControlName="OwnerId" type="OwnerId" required [value]="job.OwnerId" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
  </form>
</div>
