<h1>Higher Personality</h1>
<h4 style="text-align: center">Suggesting Jobs based on Personality est. 2018</h4>

<div class="home-module-desc.">
  <h3>Jobs</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit delectus sequi cum enim odio facere, dolores mollitia repellendus consectetur aut, repudiandae unde necessitatibus similique. Necessitatibus laudantium incidunt beatae commodi.
  </p>
  <button mat-raised-button class="nav-btn" color="primary" type="submit"><a route="job/job.component.html">Jobs</a></button>
  <h3>Personalties</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam dolor modi consequatur, non ea doloribus porro numquam doloremque velit qui, quaerat excepturi laboriosam voluptate reprehenderit totam ut vero. Fuga?
  </p>
  <button mat-raised-button class="nav-btn" color="primary" type="submit"><a route="personality/personality.component.html">Personalities</a></button>
  <h3>Test</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sequi nemo, obcaecati impedit odio reiciendis dicta inventore totam omnis facere voluptates, aut perspiciatis quas at cumque, nostrum earum deserunt voluptate!
  </p>
  <button mat-raised-button class="nav-btn" color="primary" type="submit"><a route="test/test.component.html">Test</a></button>
</div>

