<h1>Hire Personality</h1>
<hr>
  <div class="home-columns">
    <ul>
        <li>
          <h3>Jobs</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugit delectus sequi cum enim odio facere, dolores mollitia repellendus consectetur aut, repudiandae unde necessitatibus similique. Necessitatibus laudantium incidunt beatae commodi.</p>
          <button mat-raised-button class="nav-btn" color="primary" type="submit"><a routerLink="/job/index">Jobs</a></button>
        </li>
        <li>
        </li>
        <li style="float: right">
          <h3>Test</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem sequi nemo, obcaecati impedit odio reiciendis dicta inventore totam omnis facere voluptates, aut perspiciatis quas at cumque, nostrum earum deserunt voluptate!</p>
          <button mat-raised-button class="nav-btn" color="primary" type="submit"><a routerLink="/personality/create">Test</a></button>
        </li>
    </ul>
  </div>
<hr>

